<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="shortcut icon" th:href="@{/lib/mainIcon.png}">
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/public.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/mypage.css}" />
    <title>マイページ /Println</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script th:src="@{/js/header.js}"></script>
    <script th:src="@{/js/mypage.js}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
        	loginEvent();
            logoutEvent();
            listClick(".div_mypage_menubar ul li");
        });
    </script>
</head>
<body>
    <header id="wrap_head" class="f_l display_ib">
        <ul id="head_ul" class="display_ib">
            <li id="h_home">
                <a th:href="@{/println}">
                    <img th:src="@{/lib/home.svg}" class="f_l display_ib" />
                    ホーム
                </a>
            </li>
            <li id="h_main">
                <a th:href="@{/println/main}">
                    <img th:src="@{/lib/mainIcon.png}" />
                </a>
            </li>
            <li id="h_log">
                <button th:unless="${user}" id="h_login" type="button">LOGIN</button>
                <button th:if="${user}" id="h_logout" type="button">LOGOUT</button>
            </li>
        </ul>
    </header>
    <section class="wrap f_l display_ib backcolor_section">
        <div class="div_mypage_menubar f_l display_ib backcolor_section">
            <ul class="f_l display_ib">
                <li id="fEvent">パスワード変更</li>
                <li id="sEvent">プロフィール管理</li>
                <li>アカウント削除</li>
            </ul>
            <div class="div_mypage_menu f_l display_ib backcolor_div">
            	<h1 class="color_w">アカウント管理</h1>
            	<br>
                <div id="my_account" class="div_mypage_data f_l display_ib backcolor_div">
                    <h3>パスワード変更</h3>
                    <form th:action="@{/mypage-account}" th:object="${signForm}" method="post">
                        <div th:if="${#fields.hasErrors('all')}">
                            <p class="warning" th:errors="*{all}"></p>
                        </div>
                        <p class="titles">@ アカウントのE-mail</p>
                        <p th:text="*{email}"></p>
                        <p class="titles">@ パスワード</p>
                        <input class="inputArea" type="password" th:field="*{password}" maxlength="20" />
                        <br>
                        <p class="titles">@ パスワード確認</p>
                        <input class="inputArea" type="password" th:field="*{pwd_c}" maxlength="20" />
                        <br>
                        <button class="my_updateBtn" type="submit">変更</button>
                    </form>
                </div>
                <div id="my_profile" class="div_mypage_data f_l display_ib backcolor_div">
                    <h3>プロフィール管理</h3>
                    <form th:action="@{/mypage-profile}" th:object="${profForm}" enctype="multipart/form-data" method="post">
                        <div th:if="${#fields.hasErrors('all')}">
                            <p class="warning" th:errors="*{all}"></p>
                        </div>
                        <p class="titles">@ プロフィール写真</p>
                        <div class="profImg f_l display_ib">
                            <img th:src="@{{profPicUrl}(profPicUrl=*{profPicUrl})}" />
                            <br>
                        </div>
                        <div class="fileinput f_l display_ib">
                            <input type="file" name="file" maxlength="25" /><br>
                            <input type="hidden" th:field="*{profPicUrl}" />
                        </div>
                        <p class="warning">(ファイルの最大容量は5MBまでです。)</p>
                        <p class="titles">@ ニックネーム</p>
                        <input class="inputArea" type="text" th:field="*{nicknm}" maxlength="25" />
                        <p class="titles">@ 自己紹介</p>
                        <textarea th:field="*{intrdc}" rows="5" cols="50" maxlength="100"></textarea>
                        <p class="titles">@ 自己紹介の公開範囲</p>
                        <select th:field="*{intrdcPrvt}">
                            <option value="0">未公開</option>
                            <option value="1">友達のみ</option>
                            <option value="2">全体公開</option>
                        </select>
                        <p class="titles">@ 性別</p>
                        <input type="radio" th:field="*{gender}" value="1" />男性
                        <input type="radio" th:field="*{gender}" value="2" />女性
                        <br>
                        <p class="titles">@ 性別の公開範囲</p>
                        <select th:field="*{genderPrvt}">
                            <option value="0">未公開</option>
                            <option value="1">友達のみ</option>
                            <option value="2">全体公開</option>
                        </select>
                        <p class="titles">@ 生年月日</p>
                        <select th:field="*{year}">
                        	<option value=""></option>
                        	<option th:each="y : ${#numbers.sequence(2010,1910)}" 
                        			     th:value="${y}" th:text="${y}"></option>
                        </select> 年
                        <select th:field="*{month}">
                        	<option value=""></option>
                        	<option th:each="m : ${#numbers.sequence(1,9)}" 
                        				 th:value="${'0'+m}" th:text="${'0'+m}"></option>
                            <option th:each="m : ${#numbers.sequence(10,12)}" 
                            			 th:value="${m}" th:text="${m}"></option>
                        </select> 月
                        <select th:field="*{day}">
                        	<option value=""></option>
                        	<option th:each="d : ${#numbers.sequence(1,9)}" 
                        				 th:value="${'0'+d}" th:text="${'0'+d}"></option>
                            	<option th:each="d : ${#numbers.sequence(10,31)}" 
                            			 th:value="${d}" th:text="${d}"></option>
                        </select> 日
                        <p class="warning">(全て選択しない場合、入力されません。)</p>
                        <p class="titles">@ 生年月日の公開範囲</p>
                        <select th:field="*{birthPrvt}">
                            <option value="0">未公開</option>
                            <option value="1">友達のみ</option>
                            <option value="2">全体公開</option>
                        </select>
                        <p class="titles">@ 趣味</p>
                        <input type="checkbox" th:field="*{hobbys}" value="アニメ・漫画"> アニメ・漫画<br>
                        <input type="checkbox" th:field="*{hobbys}" value="スポーツ・運動"> スポーツ・運動<br>
                        <input type="checkbox" th:field="*{hobbys}" value="結婚・恋愛"> 結婚・恋愛<br>
                        <input type="checkbox" th:field="*{hobbys}" value="音楽・カラオケ"> 音楽・カラオケ<br>
                        <input type="checkbox" th:field="*{hobbys}" value="車・バイク・自転車など"> 車・バイク・自転車など<br>
                        <input type="checkbox" th:field="*{hobbys}" value="読書"> 読書<br>
                        <input type="checkbox" th:field="*{hobbys}" value="映画・講演など"> 映画・講演など<br>
                        <input type="checkbox" th:field="*{hobbys}" value="インターネット・ゲーム"> インターネット・ゲーム<br>
                        <input type="checkbox" th:field="*{hobbys}" value="料理"> 料理<br>
                        <input type="checkbox" th:field="*{hobbys}" value="旅行・散歩"> 旅行・散歩<br>
                        <input type="checkbox" th:field="*{hobbys}" value="グルメ・食べ歩き"> グルメ・食べ歩き<br>
                        <input type="checkbox" th:field="*{hobbys}" value="手芸・裁縫"> 手芸・裁縫<br>
                        <input type="checkbox" th:field="*{hobbys}" value="お花・ガーデニング"> お花・ガーデニング<br>
                        <input type="checkbox" th:field="*{hobbys}" value="ショッピング"> ショッピング
                        <p class="titles">@ 趣味の公開範囲</p>
                        <select th:field="*{hobbyPrvt}">
                            <option value="0">未公開</option>
                            <option value="1">友達のみ</option>
                            <option value="2">全体公開</option>
                        </select>
                        <p class="titles">@ 使えるプログラミング言語</p>
                        <input type="checkbox" th:field="*{pLangs}" value="C"> C<br>
                        <input type="checkbox" th:field="*{pLangs}" value="C#"> C#<br>
                        <input type="checkbox" th:field="*{pLangs}" value="C++"> C++<br>
                        <input type="checkbox" th:field="*{pLangs}" value="Java"> Java<br>
                        <input type="checkbox" th:field="*{pLangs}" value="JavaScript"> JavaScript<br>
                        <input type="checkbox" th:field="*{pLangs}" value="python"> python<br>
                        <input type="checkbox" th:field="*{pLangs}" value="Go"> Go<br>
                        <input type="checkbox" th:field="*{pLangs}" value="Kotlin"> Kotlin<br>
                        <input type="checkbox" th:field="*{pLangs}" value="Perl"> Perl<br>
                        <input type="checkbox" th:field="*{pLangs}" value="PHP"> PHP<br>
                        <input type="checkbox" th:field="*{pLangs}" value="R"> R<br>
                        <input type="checkbox" th:field="*{pLangs}" value="Ruby"> Ruby<br>
                        <input type="checkbox" th:field="*{pLangs}" value="Swift"> Swift<br>
                        <input type="checkbox" th:field="*{pLangs}" value=Scala> Scala<br>
                        <input type="checkbox" th:field="*{pLangs}" value="VBA"> VBA
                        <br>
                        <button class="my_updateBtn" type="submit">変更</button>
                    </form>
                </div>
                <div id="my_delete" class="div_mypage_data f_l display_ib backcolor_div">
                    <h3>アカウント削除</h3>
                    <br>
                    <form th:action="@{/mypage-delete}" th:object="${signForm}" method="post">
                        <p>E-mail : <span th:text="*{email}"></span></p>
                        <br>
                        <p class="warning">※ 以上のアカウントを削除しますか？</p>
                        <br>
                        <button class="my_deleteBtn" type="submit">アカウント完全削除</button>
                    </form>
                </div>
            </div>
        </div>
     </section>
     <script th:unless="${secondEvent}" type="text/javascript">
    	firstEvent();
	</script>
    <script th:if="${secondEvent}" type="text/javascript">
    	secondEvent();
	</script>
	<script th:if="${alertPass}" type="text/javascript">
		alert("パスワード変更を完了しました。");
	</script>
	<script th:if="${alertProf}" type="text/javascript">
		alert("プロフィールの変更を完了しました。");
	</script>
</body>
</html>