<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="shortcut icon" th:href="@{/lib/mainIcon.png}">
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/public.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/mypage.css}" />
    <title>マイページ /Println</title>
    <script th:src="@{/lib/jquery.min.js}"></script>
    <script th:src="@{/js/mypage.js}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            
        });
    </script>
</head>
<body>
    <section class="wrap f_l display_ib backcolor_section">
        
     </section>
</body>
</html>