<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="hortcut icon" href="lib/mainIcon.png">
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <link rel="stylesheet" type="text/css" href="css/public.css">
    <link rel="stylesheet" type="text/css" href="css/profile.css">
    <title>プロフィール作成 /Println</title>
</head>
<body>
    <section class="section_prof f_l display_ib backcolor_section">
        <div class="div_prof f_l display_ib backcolor_div">
            <h1>初めてのログイン、ありがとうございます。</h1>
            <h4>利用する前に、以下の項目を入力しプロフィールを作成してください！</h4>
            <h4 class="must">(※がついてる項目は、必ず記入してください。)</h4>
            <form action="main.html">
                <table>
                    <tr>
                        <td class="prof_item">
                            <p>ニックネーム<span class="must"> ※</span></p>
                            <input type="text" id="nick" maxlength="25" />
                        </td>
                        <td class="prof_prvt"></td>
                    </tr>
                    <tr>
                        <td class="prof_item">
                            <p>プロフィール写真登録</p>
                            <input type="file" id="myImg" />
                        </td>
                        <td class="prof_prvt"></td>
                    </tr>
                    <tr>
                        <td class="prof_item">
                            <p>性別</p>
                        <input type="radio" class="gender" value="1" />男性
                        <input type="radio" class="gender" value="2" />女性
                        </td>
                        <td class="prof_prvt">
                            <p>公開範囲</p>
                            <select>
                                <option value="0">未公開</option>
                                <option value="1" selected>友達のみ</option>
                                <option value="2">全体公開</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="prof_item">
                            <p>生年月日</p>
                            <select class="dateInput">
                                <option value="1900">1900</option>
                                <option value="2020">2020</option>
                            </select> 年
                            <select class="dateInput">
                                <option value="01">01</option>
                                <option value="12">12</option>
                            </select> 月
                            <select class="dateInput">
                                <option value="01">01</option>
                                <option value="31">31</option>
                            </select> 日
                        </td>
                        <td class="prof_prvt">
                            <p>公開範囲</p>
                            <select>
                                <option value="0">未公開</option>
                                <option value="1" selected>友達のみ</option>
                                <option value="2">全体公開</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="prof_item">
                            <p>趣味</p>
                            <input type="checkbox" class="hobby">アニメ・漫画<br>
                            <input type="checkbox" class="hobby">スポーツ・運動<br>
                            <input type="checkbox" class="hobby">結婚・恋愛<br>
                            <input type="checkbox" class="hobby">音楽・カラオケ<br>
                            <input type="checkbox" class="hobby">車・バイク・自転車など<br>
                            <input type="checkbox" class="hobby">読書<br>
                            <input type="checkbox" class="hobby">映画・講演など<br>
                            <input type="checkbox" class="hobby">インターネット・ゲーム<br>
                            <input type="checkbox" class="hobby">料理<br>
                            <input type="checkbox" class="hobby">旅行・散歩<br>
                            <input type="checkbox" class="hobby">グルメ・食べ歩き<br>
                            <input type="checkbox" class="hobby">手芸・裁縫<br>
                            <input type="checkbox" class="hobby">お花・ガーデニング<br>
                            <input type="checkbox" class="hobby">ショッピング
                        </td>
                        <td class="prof_prvt">
                            <p>公開範囲</p>
                            <select>
                                <option value="0">未公開</option>
                                <option value="1" selected>友達のみ</option>
                                <option value="2">全体公開</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="prof_item">
                            <p>使えるプログラミング言語</p>
                            <input type="checkbox" class="pLang">C<br>
                            <input type="checkbox" class="pLang">C#<br>
                            <input type="checkbox" class="pLang">C++<br>
                            <input type="checkbox" class="pLang">Java<br>
                            <input type="checkbox" class="pLang">JavaScript<br>
                            <input type="checkbox" class="pLang">python<br>
                            <input type="checkbox" class="pLang">Go<br>
                            <input type="checkbox" class="pLang">Kotlin<br>
                            <input type="checkbox" class="pLang">Perl<br>
                            <input type="checkbox" class="pLang">PHP<br>
                            <input type="checkbox" class="pLang">R<br>
                            <input type="checkbox" class="pLang">Ruby<br>
                            <input type="checkbox" class="pLang">Swift<br>
                            <input type="checkbox" class="pLang">Scala<br>
                            <input type="checkbox" class="pLang">VBA
                        </td>
                        <td class="prof_prvt"></td>
                    </tr>
                    <tr>
                        <td class="prof_item">
                            <p>自己紹介</p>
                            <textarea id="myIntro" rows="5" cols="50" maxlength="100"></textarea>
                        </td>
                        <td class="prof_prvt">
                            <p>公開範囲</p>
                            <select>
                                <option value="0">未公開</option>
                                <option value="1" selected>友達のみ</option>
                                <option value="2">全体公開</option>
                            </select>
                        </td>
                    </tr>
                </table>
                <div id="profileError">
                    <h4>error!</h4>
                </div>
                <button type="submit">完了</button>
            </form>
        </div>
    </section>
</body>
</html>