<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
        "-//mybatis.org//DTD Mapper 3.0//EN" 
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.techfun.persistence.UserMapper">
	<select id="emailHasSame" resultType="Integer">
		SELECT COUNT(*) FROM sns_user WHERE email = #{email}
	</select>
	<insert id="userInsert">
		INSERT INTO sns_user(email, password, inp_date)
		VALUES (#{email}, #{password}, NOW());
	</insert>
	<select id="accountCheck" resultType="com.techfun.domain.SNSUser">
		SELECT * FROM sns_user
		<where>
				email = #{email} AND password = #{password}
		</where>
	</select>
	<select id="accountCheckbyNick" resultType="com.techfun.domain.SNSUser">
		SELECT sns_user.* FROM sns_user
		INNER JOIN profile ON sns_user.id = profile.user_id
		<where>
				profile.nicknm = #{email} AND password = #{password}
		</where>
	</select>
	<select id="getProfileData" resultType="com.techfun.domain.Profile">
		SELECT profile.* FROM sns_user
		INNER JOIN profile ON sns_user.id = profile.user_id
		<where>
				sns_user.id = #{id}
		</where>
	</select>
</mapper>