<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="shortcut icon" th:href="@{/lib/mainIcon.png}">
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/public.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/user.css}" />
    <title>ログイン /Println</title>
</head>
<body>
     <section class="section_sign f_l display_ib backcolor_section">
        <div class="div_sign f_l display_ib backcolor_div">
            <h1 class="color_w">ログイン</h1>
            <form th:action="@{/trylogin}" th:object="${userForm}" method="post">
                <div class="loginDiv f_l display_ib">
                    <input id="loginEmail" type="text" th:field="*{email}" maxlength="200" placeholder="メールアドレスを入力" />
                </div>
                <div class="loginDiv f_l display_ib">
                    <input id="loginPwd" type="password" th:field="*{password}" maxlength="20" placeholder="パスワードを入力" />
                </div>
                <br>
                <div th:if="${#fields.hasErrors('all')}" class="f_l display_ib">
                    <p th:errors="*{all}" class="loginError"></p>
                </div>
                <button type="submit" id="loginBtn" name="loginBtn" class="f_l display_ib">ログイン</button><br>
                <button type="submit" id="backBtn" name="backBtn" class="f_l display_ib">もどる</button>
            </form>
        </div>
    </section>
</body>
</html>